

<div class="container p-5 card  mt-5  bg-warning-subtle">
    <div>
        <h1 class="p-3 text-center">Atualização de camas</h1>
    </div>
    <form action="/editado/{{id}}" method="post">
    <div class="mb-3 col-sm-6 ">
        <label class="form-label text-center">Quantidade:</label>
        <input type="text" name="quantidade" class="form-control" placeholder="Digite a quantidade" >
        
    </div>
    
    <button type="submit" class="btn btn-warning">Gravar</button>

    
    </form>
</div>


