

<div class="container p-5 card  mt-5  bg-danger-subtle">
        <div>
            <h1 class="p-3 text-center">Cadastro de reservas</h1>
        </div>
    <form action="/editadoreserva/{{id}}" method="post">
        <div class="mb-3 col-sm-6 ">
            <label class="form-label text-center">Data de Entrada: </label>
            <input type="date" name="dataentrada" class="form-control" placeholder="Digite a data de entrada" >
            
        </div>
        <div class="mb-3 col-sm-6 ">
            <label class="form-label">Data de Saída: </label>
            <input type="date" name="datasaida" class="form-control" placeholder="Digite a data de saida">
        </div>
        
        <button type="submit" class="btn btn-danger">Gravar</button>

        
    </form>
</div>



